{
    "UNIDADE_EMEC_ID": 0,
    "UNIDADE_NOME_COMPLETO": "Faculdade GAIO",
    "UNIDADE_CODINOME": "FACGAIO",
    "UNIDADE_EMAIL_CONTATO": "email@email.com",
    "UNIDADE_TELEFONE_CONTATO": "2140028922",
    "UNIDADE_ENDERECO_CEP": "00000-000",
    "UNIDADE_ENDERECO_LOGRADOURO": "Rua GAIO",
    "UNIDADE_ENDERECO_NUMERO": "01",
    "UNIDADE_ENDERECO_COMPLEMENTO": null,
    "UNIDADE_ENDERECO_BAIRRO": "Bairro",
    "UNIDADE_ENDERECO_CIDADE": "Cidade",
    "UNIDADE_ENDERECO_ESTADO": "RJ",
    "UNIDADE_ATO_AUTORIZATIVO": {
        "parecer": "A",
        "data_publicacao": "0001-01-01",
        "anos_vigencia": 5
    },
    "UNIDADE_CORPO_ADMINISTRATIVO_DIRETOR_ID": 1,
    "UNIDADE_CORPO_ADMINISTRATIVO_VICE_DIRETOR_ID": 1,
    "UNIDADE_CORPO_ADMINISTRATIVO_ADMINISTRADOR_ID": 1
}